<html>
  <head>
    <meta charset='UTF-8' />
    <title>About Me</title>
  </head>
  <body class='container'>
    <h1>About me</h1>
    <article class="container">
<p>Hi everyone! I am Guilherme Monteiro</p>
<p>Im currently about to graduate on Sistemas de Informação at Universidade Potiguar. But I already have another graduation on culinary school at SENAC.</p>
<p>My hobbies are cooking, playing video games and board games.</p>
<p>I live in Natal-RN and I am currently working for CodeMiner42 as a trainee developer.</p>
<p>Mostly I work with Javascript with express and node.js, but for this project i am trying to use Ruby with Sinatra</p>
    <hr>
    </article>
</body>
</html>
